{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["prettier", "react", "react-hooks"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 8,
    "requireConfigFile": false,
    "presets": ["@babel/preset-react"],
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    }
  },
  "rules": {
    "import": 0,
    "max-len": 0,
    "no-alert": 0,
    "react-hooks/rules-of-hooks": 2,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": false
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "none",
        "tabWidth": 4,
        "endOfLine": "auto"
      }
    ]
  }
}